---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/catppuccin-{{flavor.identifier}}.json"
  hex_format: "#{{r}}{{g}}{{b}}"
accent: red
---
{
  "name": "Catppuccin {{flavor.name}} {{flavor.colors[accent].name}}",
  "colors": {
    "bg": "{{base.hex}}",
    "fg": "{{text.hex}}",
    "panel": "{{surface0.hex}}",
    "border": "{{overlay0.hex}}",
    "red": "{{flavor.colors[accent].hex}}",
    "advanced": {
      "sidebarBg": "{{mantle.hex}}",
      "hamburgerColor": "{{flavor.colors[accent].hex}}",
      "inputBg": "{{mantle.hex}}",
      "inputBorder": "{{surface0.hex}}"
    }
  },
{%- if flavor.identifier == "latte" %}
  "bgPattern": "petals",
  "bgEffectColor": "{{lavender.hex}}"
{%- elif flavor.identifier == "frappe" %}
  "bgPattern": "rain",
  "bgEffectColor": "{{lavender.hex}}"
{%- elif flavor.identifier == "macchiato" %}
  "bgPattern": "embers",
  "bgEffectColor": "{{peach.hex}}"
{%- else %}
  "bgPattern": "embers",
  "bgEffectColor": "{{peach.hex}}"
{%- endif %}
}
